/* google fonts css */


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}


/* Shared Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading Section */
#banner{
   
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    width: 71%;
    max-width: 1600px;
   
   
    

    

}


/* Banner Image */


 #banner .banner-image img{
    max-width: 700px;
    vertical-align: middle;

 }


 /* Banner Content */

 #banner .banner-content{
    margin-top: 216px;
    
 }

 #banner .banner-content .banner-content-h{
    width: 71%;
    width: 525px;
    height: 228px;
    margin-bottom: 24px;
 }

 #banner .banner-content h2{
    font-size: 65px;
    font-weight: bold;
    color:#151414;
    text-align: right;
    

 }

 #banner .banner-content p{
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height:26px ;
    color: #444343;
    
 }

 #banner .banner-content .banner-content-p{
    
    max-width: 494px;
    height: 74px;
    margin-bottom: 32px;
 }

.btn-container{
    text-align: right;
}

 .btn{
    background-color: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
 }






